<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>https://www.themoviedb.org</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>WorkSans-Black.otf</string>
		<string>WorkSans-BlackItalic.otf</string>
		<string>WorkSans-Bold.otf</string>
		<string>WorkSans-BoldItalic.otf</string>
		<string>WorkSans-ExtraBold.otf</string>
		<string>WorkSans-ExtraBoldItalic.otf</string>
		<string>WorkSans-ExtraLight.otf</string>
		<string>WorkSans-ExtraLightItalic.otf</string>
		<string>WorkSans-Italic.otf</string>
		<string>WorkSans-Light.otf</string>
		<string>WorkSans-LightItalic.otf</string>
		<string>WorkSans-Medium.otf</string>
		<string>WorkSans-MediumItalic.otf</string>
		<string>WorkSans-Regular.otf</string>
		<string>WorkSans-SemiBold.otf</string>
		<string>WorkSans-SemiBoldItalic.otf</string>
		<string>WorkSans-Thin.otf</string>
		<string>WorkSans-ThinItalic.otf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
